node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# SQLite database files
*.sqlite
*.sqlite-shm
*.sqlite-wal

# Redis binaries and data
redis/
*.zip

# Data files
EQUITY_L.csv
